<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <style>
/* Sidebar */
#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:0;
  height:100vh;
  overflow-y:hidden;
  background: #272424;
  opacity:0.9;
  transition:all .5s;
  display:flex;
  align-items:center;
}

/* Main Content */
#page-content-wrapper{
  width: 100%;  
  position: absolute;
  padding:0px;
  transition:all .5s;
}


/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:250px;
}

.topSide{
  width:250px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:5;
  list-style:none; 
  transition:all .5s;
  width:100%;
  text-align:left;
  height:100%;
}

.sidebar-nav li{
  line-height:40px;  
  width:100%;
  transition:all .3s;
  padding:5px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#ddd;
}

.module:hover{
  background:#8bab;
}

.navbar-nav > li > a {padding-top:0px !important; padding-bottom:0px !important;}
.navbar {min-height:20px !important}

.demoFont {

font-size: 10px;

word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
    </style>
    {% block stylesheets %}

    {% endblock %}

    <title>{% block title %}Sistema de Gestion{% endblock %}</title>




    <link rel="icon" type="image/x-icon" href="{{ asset('resources/img/favicon.png') }}" />

  {% if fontawesome is not defined %}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  {% endif %}

  <link rel="stylesheet" href="{{ asset('resources/css/bootstrap.min.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="{{ asset('resources/css/mdb.min.css') }}" rel="stylesheet">

  <link rel="stylesheet" href="{{ asset('resources/css/style.css') }}" rel="stylesheet">
  
  {% if datatable is defined %}
    <link href="{{ asset('resources/css/addons/datatables.min.css') }}" rel="stylesheet">
  {% endif %}

  {% if mutipleselect is defined %}
    <link href="{{ asset('resources/css/bootstrap-multiselect.css') }}" rel="stylesheet">
  {% endif %}

</head>

<body>
{% if is_granted('IS_AUTHENTICATED_FULLY') and show_nav is not defined %}
  <div id="wrapper" class="menuDisplayed">
          <nav class="navbar navbar-expand-lg m-0">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#" id="menu-toggle">
                   <i class="fas fa-align-justify fa-sm red-text p-0 align-middle"></i>
                  </a>
                </li>
                <li class="nav-item avatar">
                  <a class="nav-link p-0 pl-2" href="{{ path('home_page') }}">
                    <img src="{{ asset('resources/img/logo_chico.png') }}" class=""
                      alt="avatar image">
                  </a>
                </li>
                <li class="nav-item ml-5 pl-5">
                    {% block title_module %}

                    {% endblock %}
                </li>
              </ul>
                


              <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item align-middle">
                  <a class="nav-link waves-effect waves-light align-middle">
                    <i class="fas fa-chart-line align-middle"></i> 
                  </a>
                </li>
                <li class="nav-item align-middle">
                  <a class="nav-link waves-effect waves-light align-middle">
                    <i class="fas fa-map align-middle"></i>
                  </a>
                </li>
                <li class="nav-item align-middle">
                  <a class="nav-link waves-effect waves-light align-middle">
                    <i class="fas fa-envelope align-middle"></i>
                  </a>
                </li>
                <li class="nav-item avatar dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                                alt="avatar image" height="30">
                  </a>
                  <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary demoFont"
                    aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{{ path('logout') }}">Cerrar Sesion</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav mt-5 pt-5 demoFont">

                  {% include 'sistema/navVENTAS.html.twig' %}
                  {% include 'sistema/navRRHH.html.twig' %}
                  {% include 'sistema/navACTIVOS.html.twig' %}
                  {% include 'sistema/navSEGVIAL.html.twig' %}
            </ul>

          </div>
  {% endif %}
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <div class="container-fluid panel panel-default mt-2">

                {% block content %}
                {% endblock content %}

            </div>
          </div>
  </div>
  



<script src="{{ asset('resources/js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('resources/js/popper.min.js') }}"></script>
<script src="{{ asset('resources/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('resources/js/mdb.min.js') }}"></script>
<script src="{{ asset('resources/js/bootbox.all.min.js') }}"></script>

{% if datatable is defined %}
  <script type="text/javascript" src="{{ asset('resources/js/addons/datatables.min.js') }}"></script>
{% endif %}

{% if mutipleselect is defined %}
  <script src="{{ asset('resources/js/bootstrap-multiselect.js') }}"></script>
{% endif %}

{% if fontawesome is not defined  %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" 
                  integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" 
                  crossorigin="anonymous">
    </script>
{% endif %}

{% if inputmask is not defined %}
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="{{ asset('resources/js/jquery.inputmask.bundle.js') }}"></script>
{% endif %}

{% block javascripts %}{% endblock %}


<script type="text/javascript">
$(document).ready(function(){
  $('.view-module').click(function(event){
        event.preventDefault();
        var mod = $(this);
        $.post("{{ path('set_session_menu') }}",
               {module : mod.data('module')},
               function(data){
                              window.location.href = data.route;
               });
  });

  $("#menu-toggle").click(function(e){
    e.preventDefault();
    $("#wrapper").toggleClass("menuDisplayed");
  });
});
</script>
</body>
</html>
