<div class='form-row mt-2'>	 
	<div class=' col-lg-3 col-sm-12'>
		{{ form_label(elem.latitud) }}
    	{{ form_widget(elem.latitud, { 'attr' : {'class' : 'latitud form-control form-control-sm'}}) }}
    	{{ form_errors(elem) }}
    </div>
	<div class=' col-lg-3 col-sm-12'>
		{{ form_label(elem.longitud) }}
		{{ form_widget(elem.longitud, { 'attr' : {'class' : 'longitud form-control form-control-sm'}}) }}
	</div>
	<div class=' col-lg-3 col-sm-12'>
		{{ form_label(elem.ciudad) }}
    	{{ form_widget(elem.ciudad, { 'attr' : {'class' : 'form-control form-control-sm'}}) }}
    </div>
	<div class=' col-lg-3 col-sm-12'>
		{{ form_label(elem.estructura) }}
    	{{ form_widget(elem.estructura, { 'attr' : {'class' : 'form-control form-control-sm'}}) }}
    </div>
</div>