{% extends 'base.html.twig' %}
{% set inputmask = false %}
{% block content %}
	
    <div class="h3 mt-5 mb-2">Listado de clientes</div>
    <hr>
	<table class="table table-hover table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th scope="col">Prefijo</th>
	      <th scope="col">Razon Social</th>
	      <th scope="col">Nombre Fantasia</th>
	      <th scope="col">Estado</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for c in clientes %}
	  		<tr>
	  			<td>{{ c.prefijo|upper }}</td>
	  			<td>{{ c.razonSocial|upper }}</td>
	  			<td>{{ c.nombreFantasia|upper }}</td>
	  			<td>
	  				<div class="custom-control custom-switch">
					  <input type="checkbox" 
					  		 class="custom-control-input state" 
					  		 {% if c.activo %}
					  		 		checked 
					  		 {% endif %}
					  		 id="switch{{ loop.index }}"
					  		 data-id="{{ c.id }}">
					  <label class="custom-control-label" for="switch{{ loop.index }}">
						  	<span id="span{{ c.id }}">
							  	{% if c.activo %}
			  						Activo
				  				{% else %}
				  					Inactivo
				  				{% endif %}
				  			</span>
		  			  </label>
					</div>	  				
	  			</td>
	  			<td class="text-center"><a href="{{ path('editar_cliente', {id : c.id}) }}" class="btn btn-sm btn-default">Editar</a></td>
	  		</tr>
	  	{% endfor %}
	  </tbody>
	</table>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
		
		$(document).ready(function(){
				const route = "{{ path('cliente_change_state', { id : 'CLIENTE_ID'}) }}";

				$('.state').change(function(){
											   const btn = $(this);
											   const id = btn.data('id');
											   let idroute = route.replace('CLIENTE_ID', id);
											   const state = (btn.is(':checked') == true)?1:0;
											   $.post(idroute,
											   		  {'state' : state},
											   		  function(data){
											   		  		if(data.status)
											   		  		{
											   		  			if (state)
											   		  			{
											   		  				$('#span'+id).html('Activo');
											   		  			}
											   		  			else
											   		  			{
											   		  				$('#span'+id).html('Inactivo');
											   		  			}
											   		  		}
											   		  		else
											   		  		{
											   		  			alert(data.message);
											   		  		}
											   		  });
											   
				});
		});

</script>
{% endblock %}

